<div class="wallpaper">
  <div class="principalBox">
    <div class="principalimage">
      <img class="principalImage" src="../assets/image-equilibrium.jpg">
      <div class="blankeye">
        <img src="../assets/icon-view.svg">
      </div>
    </div>


    <div class="namepicture">
      <h1>
        Equilibrium #3429
      </h1>
    </div>

    <div class="description">
      <h2> 
        Our Equilibrium collection promotes
        balance and calm
      </h2>
    </div>

    <div class="bitandtime">
      <div class="bit">
        <img src="../assets/icon-ethereum.svg">
        <p>
          0.041 ETH
        </p>
      </div>

      <div class="time">
        <img src="../assets/icon-clock.svg">
        <p>
          3 days left
        </p>
      </div>
    </div>

    <div class="line"></div>

    <div class="creatorandtext">
      <img src="../assets/image-avatar.png">

      <div class="textCreator">
        <div class="creatortext1">
          <p>
            Creation of
          </p>
        </div>

        <div class="creatortext2">
          <p>
            Diego Torres
          </p>
        </div>

      </div>

    </div>

  </div>
</div>